<div class="card">
  <div class="card-body p-0">

    <div class="table-responsive">
      <table class="table table-sm align-middle mb-0">
        <thead>
          <tr>
            <th>CÓDIGO</th>
            <th>NOMBRE</th>
            <th>TIPO</th>
            <th>ESTADO</th>
            <th class="text-end">SALDO</th>
          </tr>
        </thead>

        <tbody>
          @for (row of rows; track $index) {
            <tr>

              <!-- CODIGO -->
              <td>{{ row.codigo }}</td>

              <!-- NOMBRE -->
              <td>
                <div class="fw-semibold">{{ row.nombre }}</div>
              </td>

              <!-- TIPO -->
              <td>
                <span
                  class="badge"
                  [ngClass]="row.tipoCuenta === 'Corriente'
                    ? 'badge-soft-success'
                    : 'badge-soft-warning'">
                  {{ row.tipoCuenta }}
                </span>
              </td>

              <!-- ESTADO -->
              <td>
                <span
                  class="badge"
                  [ngClass]="row.estado === 'Activo'
                    ? 'badge-soft-success'
                    : 'badge-soft-danger'">
                  {{ row.estado }}
                </span>
              </td>

              <!-- SALDO -->
              <td class="text-end fw-semibold">
                {{ row.saldo }}
              </td>

            </tr>
          }
        </tbody>

      </table>
    </div>

  </div>
</div>