<app-breadcrumb [items]="breadcrumbs"></app-breadcrumb>

<section class="section">
  <div class="main-content">
    <div class="page-header mb-3">
      <div>
        <h1 class="page-title">{{ 'ahorro.page.title' | translate }}</h1>
        <p class="text-muted mb-0">
          {{ 'ahorro.page.subtitle' | translate }}
        </p>
      </div>
    </div>

    <app-ahorro-summary-cards [cards]="cards"></app-ahorro-summary-cards>

    <div class="row g-3">
      <div class="col-xxl-9 col-xl-8">
        <div class="card">
          <div class="card-body">
            <app-ahorro-filters (filtersChange)="onFiltersChange($event)"></app-ahorro-filters>

            <app-socios-table [rows]="socioRows" [pagination]="pagination" [selectedId]="selectedSocioId"
              (selectRow)="onSelectSocio($event)" (pageChange)="onPageChange($event)">
            </app-socios-table>
          </div>
        </div>

 <app-ahorro-socio-resumen
    [socio]="selectedSocio"
    [ahorrosRows]="ahorroRows"
    [retirosRows]="retiroRows"
    [depositosRows]="depositoRows"
    [solicitudesRows]="solicitudRows"
    [planesRows]="planesRows">
  </app-ahorro-socio-resumen>
      </div>

      <div class="col-xxl-3 col-xl-4">
        <app-ahorro-side-panel [actions]="actions" [alerts]="alerts" [reports]="reports" [planesRows]="planesRows">
        </app-ahorro-side-panel>
      </div>
    </div>
  </div>
</section>