<div class="card">
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-sm align-middle mb-0">
        <thead>
          <tr>
            <th>FECHA</th>
            <th>DESCRIPCIÓN</th>
            <th>TIPO DE CUENTA</th>
            <th class="text-end">MONTO</th>
          </tr>
        </thead>
        <tbody>
          @for (row of rows; track $index) {
            <tr>
              <td>{{ row.fecha }}</td>

              <td>
                <div class="fw-semibold">{{ row.descripcion }}</div>
              </td>

              <td>
                <span
                  class="badge"
                  [ngClass]="row.tipoCuenta === 'Corriente'
                    ? 'badge-soft-success'
                    : 'badge-soft-warning'">
                  {{ row.tipoCuenta }}
                </span>
              </td>

              <td class="text-end fw-semibold">
                {{ row.monto }}
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>